.wrapper-show {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 0px 12px;
  background-color: white;
  position: fixed;
  top: 12px;
  right: 12px;
  border-radius: 6px;
  transition: all ease 0.3s;
  transform: translateY(0px) scale(1);
}

.wrapper-hide {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 0px 12px;
  background-color: white;
  position: fixed;
  top: 12px;
  right: 12px;
  border-radius: 6px;
  transition: all ease 0.3s;
  transform: translateY(-150px) scale(0.2);
}

.button {
  background-color: blueviolet;
}
