.top-wallets-wrapper {
  margin-bottom: 1.8em;
}

.top-wallets-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.theme__dark .top-wallets-info h3 {
  color: white;
}

.theme__dark .top-wallets-info span {
  color: #b5b8be;
}

.theme__dark .top-wallets-other-wallets-left h3 {
  color: white;
}

.top-wallets-info h3 {
  text-align: center;
  color: #334155;
  margin: 0px;
  font-size: 0.938rem;
}

.top-wallets-info span {
  text-align: center;
  max-width: 300px;
  font-size: 0.8em;
  font-weight: 300;
  color: #7c828b;
  line-height: 1.35em;
  margin: 6px 0px 12px 0px;
}

.top-wallets-learn-more {
  text-decoration: underline;
  cursor: pointer;
  font-size: 0.95em !important;
}

.top-wallets-wallets-main {
  margin-top: 1em;
  grid-template-columns: repeat(2, 1fr);
  display: grid;
  gap: 1em;
}

.top-wallets-other-wallets {
  display: flex;
  gap: 1.25em;
  justify-content: space-between;
  border-radius: 12px;
  padding: 1.25em;
  cursor: pointer;
  transition: all ease 0.2s;

  -webkit-box-shadow: 0px 0px 12px -4px rgb(0 0 0 / 30%);
  -moz-box-shadow: 0px 0px 12px -4px rgb(0 0 0 / 30%);
  box-shadow: 0px 0px 12px -4px rgb(0 0 0 / 30%);
}

.top-wallets-other-wallets-left {
  max-width: 148px;
}

.top-wallets-other-wallets-left h3 {
  color: #334155;
  margin: 0px;
  font-size: 1em;
}

.top-wallets-other-wallets-left p {
  max-width: 400px;
  font-size: 0.85em;
  font-weight: 300;
  color: #94a3b8;
  line-height: 1.35em;
  margin: 0px;
  font-size: 0.75em;
}

.top-wallets-other-wallets-right {
  display: flex;
  justify-content: center;
  align-items: center;
}

.top-wallets-other-wallets-right img {
  border-radius: 8px;
  width: 2.4em;
  height: 2.4em;
  -webkit-box-shadow: 0px 0px 12px -4px rgb(0 0 0 / 30%);
  -moz-box-shadow: 0px 0px 12px -4px rgb(0 0 0 / 30%);
  box-shadow: 0px 0px 12px -4px rgb(0 0 0 / 30%);
}

.top-wallets-other-wallets-center-wallet {
  transform: perspective(500px) translateZ(100px);
}

@media only screen and (max-width: 800px) {
  .top-wallets-info h3 {
    font-size: 1em;
  }

  .top-wallets-info p {
    font-size: 0.75em;
  }

  .top-wallets-other-wallets {
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
  }

  .top-wallets-other-wallets-left {
    order: 1;
  }

  .top-wallets-other-wallets-left h3 {
    font-size: 0.85em;
  }

  .top-wallets-other-wallets-left p {
    font-size: 0.65em;
  }
}

@media only screen and (max-width: 400px) {
  .top-wallets-other-wallets-right {
    max-width: 50px;
    transform: scale(0.8);
  }
}
