.wallet-main {
  display: flex;
  gap: 1.25em;
  justify-content: space-between;
  border-radius: 12px;
  padding: 15px;
  cursor: pointer;
  transition: all ease 0.2s;

  -webkit-box-shadow: 0px 0px 12px -4px rgb(0 0 0 / 30%);
  -moz-box-shadow: 0px 0px 12px -4px rgb(0 0 0 / 30%);
  box-shadow: 0px 0px 12px -4px rgb(0 0 0 / 30%);
}

.wallet-disabled {
  opacity: 0.5;
}

.wallet-main:hover {
  transform: scale(1.01);
}

.wallet-main:active {
  transform: scale(0.99);
}

.wallet-main-left {
  max-width: 148px;
  flex: 1;
}

.theme__dark .wallet-main-left h3 {
  color: white;
}

.theme__dark .top-wallets-info p {
  color: #b5b8be;
}

.theme__dark .wallet-main-right {
  -webkit-box-shadow: 0px 0px 12px -4px rgb(0 0 0 / 63%);
  -moz-box-shadow: 0px 0px 12px -4px rgb(0 0 0 / 63%);
  box-shadow: 0px 0px 12px -4px rgb(0 0 0 / 63%);
}

.theme__dark .wallet-small img {
  -webkit-box-shadow: 0px 0px 12px -4px rgb(0 0 0 / 63%);
  -moz-box-shadow: 0px 0px 12px -4px rgb(0 0 0 / 63%);
  box-shadow: 0px 0px 12px -4px rgb(0 0 0 / 63%);
}

.theme__dark .wallet-small h3 {
  color: white;
}

.wallet-main-left h3 {
  color: #1c1e21;
  margin: 0px;
  font-size: 1em;
}

.wallet-main-left p {
  max-width: 400px;
  font-weight: 300;
  color: #7c828b;
  line-height: 1.35em;
  margin: 0px;
  font-size: 0.65em;
}

.wallet-main-right {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  overflow: hidden;
  -webkit-box-shadow: 0px 0px 12px -4px rgb(0 0 0 / 30%);
  -moz-box-shadow: 0px 0px 12px -4px rgb(0 0 0 / 30%);
  box-shadow: 0px 0px 12px -4px rgb(0 0 0 / 30%);
}

.wallet-main-right img {
  width: 3.2em;
  height: 3.2em;
}

.wallet-main-tags {
  display: flex;
  gap: 6px;
}

.wallet-main-tag {
  color: #3880ff;
  margin: 0px;
  font-size: 0.75em;
  font-weight: 600;
  margin-top: 6px;
  text-transform: uppercase;
}

.wallet-small {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 0.5em;
}

.wallet-small img {
  padding: 0.4em;
  border-radius: 10px;
  width: 2.5em;
  height: 2.5em;
  cursor: pointer;
  transition: all ease 0.2s;

  -webkit-box-shadow: 0px 0px 12px -4px rgb(0 0 0 / 30%);
  -moz-box-shadow: 0px 0px 12px -4px rgb(0 0 0 / 30%);
  box-shadow: 0px 0px 12px -4px rgb(0 0 0 / 30%);
}

.wallet-small img:hover {
  transform: scale(1.01);
}

.wallet-small img:active {
  transform: scale(0.99);
}

.wallet-small h3 {
  color: #334155;
  margin: 0px;
  font-size: 0.8em;
  text-align: center;
}

.wallet-main-mobile {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
}

.wallet-main-left-mobile {
  order: 1;
}

.wallet-main-left-mobile h3 {
  font-size: 0.9em;
  text-align: center;
}

.wallet-main-left-mobile p {
  font-size: 0.65em;
  text-align: center;
}

@media only screen and (max-width: 800px) {
  .wallet-main {
    padding: 0.65em 15px;
  }

  .wallet-main-mobile {
    padding: 1.25em;
  }
}
