.toast-wrapper-show {
  max-width: 460px;
  overflow: hidden;
  background-color: white;
  position: fixed;
  top: 12px;
  right: 12px;
  border-radius: 6px;
  transition: all ease 0.3s;
  transform: translateY(0px) scale(1);
  z-index: 1000000;
  -webkit-box-shadow: 0px 4px 11px -4px rgba(0, 0, 0, 0.45);
  -moz-box-shadow: 0px 4px 11px -4px rgba(0, 0, 0, 0.45);
  box-shadow: 0px 4px 11px -4px rgba(0, 0, 0, 0.45);
}

.toast-wrapper-hide {
  max-width: 460px;
  overflow: hidden;
  background-color: white;
  position: fixed;
  top: 12px;
  right: 12px;
  border-radius: 6px;
  transition: all ease 0.3s;
  transform: translateY(-150px) scale(0.2);
  z-index: 1000000;
  -webkit-box-shadow: 0px 4px 11px -4px rgba(0, 0, 0, 0.45);
  -moz-box-shadow: 0px 4px 11px -4px rgba(0, 0, 0, 0.45);
  box-shadow: 0px 4px 11px -4px rgba(0, 0, 0, 0.45);
}

.toast-header {
  cursor: move;
  padding: 0px 0.6em 0px 1.2em;
  display: flex;
  align-items: center;
  gap: 6px;
  overflow: hidden;
  position: relative;
}

.toast-header img {
  width: 24px;
}

.toast-header h3 {
  font-weight: bold;
  color: #334155;
  font-size: 0.8em;
  margin-right: auto;
}

.toast-label {
  margin: 1em 0em 1em 0em;
  color: #334155;
  font-size: 0.9em;
}

.toast-button-icon {
  width: 24px;
  height: 24px;
  padding: 2px;
  border-radius: 100%;
  border: 1px solid #cbd5e1;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  fill: #64748b;
  transition: all ease 0.2s;
  margin-left: auto;
}

.toast-button-icon:hover {
  background-color: #475569;
  border: 1px solid #475569;
  fill: #e2e8f0;
}

.toast-body {
  padding: 0.6em 1.2em;
}

.toast-action-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.toast-action-label {
  margin: 0.8em 0em;
  font-size: 0.8em;
  color: #64748b;
}

.toast-action-bold {
  font-weight: bold;
  color: #334155;
}

.toast-action-button {
  cursor: pointer;
  font-size: 0.8em;
  font-weight: 600;
  color: #3880ff;
  transition: all ease 0.2s;
  border-radius: 6px;
  padding: 0.4em 0.8em;
}

.toast-action-button:hover {
  background-color: #e4eeff;
  transition: all ease 0.2s;
}

@media only screen and (max-width: 800px) {
  .toast-wrapper-show {
    width: calc(100% - 24px);
  }

  .toast-wrapper-hide {
    width: calc(100% - 24px);
  }
}
