.wrapper-show {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  top: 0px;
  left: 0px;
  background-color: rgba(0, 0, 0, 0.6);
  opacity: 1;
  transition: opacity ease 0.3s;
}

.wrapper-hide {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  top: 0px;
  left: 0px;
  background-color: rgba(0, 0, 0, 0.6);
  opacity: 0;
  transition: opacity ease 0.3s;
}

.modal-show {
  padding: 6px;
  background-color: white;
  border-radius: 6px;
  transition: all ease 0.3s;
  transform: translateY(0px);
  opacity: 1;
}

.modal-hide {
  padding: 6px;
  background-color: white;
  border-radius: 6px;
  transition: all ease 0.3s;
  transform: translateY(24px);
  opacity: 1;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.button-icon {
  width: 24px;
  height: 24px;
  padding: 2px;
  border-radius: 100%;
  border: 1px solid #cbd5e1;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  fill: #64748b;
  transition: all ease 0.2s;
}

.button-icon:hover {
  background-color: #475569;
  fill: #e2e8f0;
}

.logo {
  margin: 0px 2rem;
}
