.wrapper-show {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  top: 0px;
  left: 0px;
  background-color: rgba(0, 0, 0, 0.6);
  opacity: 1;
  transition: opacity ease 0.3s;
}

.wrapper-hide {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  top: 0px;
  left: 0px;
  background-color: rgba(0, 0, 0, 0.6);
  opacity: 0;
  transition: opacity ease 0.3s;
}

.modal-show {
  padding: 1.8em;
  background-color: white;
  border-radius: 6px;
  transition: all ease 0.3s;
  transform: translateY(0px);
  opacity: 1;
}

.modal-hide {
  padding: 1.8em;
  background-color: white;
  border-radius: 6px;
  transition: all ease 0.3s;
  transform: translateY(24px);
  opacity: 1;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.button-icon {
  width: 24px;
  height: 24px;
  padding: 2px;
  border-radius: 100%;
  border: 1px solid #cbd5e1;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  fill: #64748b;
  transition: all ease 0.2s;
}

.button-icon:hover {
  background-color: #475569;
  fill: #e2e8f0;
}

.logo {
  margin: 0px 2rem;
}

.body {
}

.info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.info h3 {
  text-align: center;
  color: #334155;
  margin-bottom: 0px;
}

.info p {
  text-align: center;
  max-width: 400px;
  font-size: 0.85em;
  font-weight: 300;
  color: #94a3b8;
  line-height: 1.35em;
}

.wallets-main {
  margin-top: 1em;
  grid-template-columns: repeat(2, 1fr);
  display: grid;
  gap: 1em;
}

.wallet {
  display: flex;
  gap: 1em;
  justify-content: space-between;
  padding: 0px 24px;
  align-items: center;
  border-radius: 6px;
  border: 1px solid #858b93;
}

.wallet h3 {
  margin-top: 0px;
  color: #334155;
}

.wallet .image {
  border-radius: 6px;
  background-color: #475569;
  width: 50px;
  height: 50px;
}
