:host {
  --animation-duration: 300ms;
  all: initial;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.animated {
  animation-duration: var(--animation-duration);
  animation-fill-mode: both;
}

.fadeIn {
  animation-name: fadeIn;
}

.fadeOut {
  animation-name: fadeOut;
}

.beacon-toast__base {
  position: fixed;
  top: 16px;
  right: 16px;
  z-index: 2147483000;
  margin: 0 auto;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 12px 24px 0 rgba(0, 0, 0, 0.1);
  flex-direction: column;
}
@media (max-width: 576px) {
  .beacon-toast__base {
    top: 8px;
    right: 8px;
    left: 8px;
  }
}

.theme__light.beacon-toast__base {
  background: #fff;
}

.theme__dark.beacon-toast__base {
  background: #27334c;
}

.theme__dark p {
  color: #6183ff;
}

a {
  text-decoration: none;
  color: #3880ff;
}

a svg {
  width: 12px;
  margin-left: 2px;
}

a:visited {
  color: #3880ff;
}

hr {
  height: 1px;
  color: rgba(0, 0, 0, 0.12);
  background-color: rgba(0, 0, 0, 0.12);
  border: none;
  width: 100%;
  margin: 0;
  display: none;
}

.show {
  display: block !important;
}

.hide {
  display: none !important;
}

#beacon-toast-list {
  display: none;
}

.beacon-toast__upside_down {
  transform: rotate(180deg);
}

.beacon-toast__content {
  justify-content: space-between;
  max-height: 56px;
}

.beacon-toast__action__item,
.beacon-toast__powered a,
.beacon-toast__wallet__container,
#beacon-text,
.beacon-toast__action__item p {
  align-items: center;
}

.beacon-toast__content,
.beacon-toast__base,
.beacon-toast__action__item,
.beacon-toast__powered a,
#beacon-text,
.beacon-toast__wallet__container {
  display: flex;
}

.beacon-toast__content,
.beacon-toast__action__item,
.beacon-toast__powered a {
  padding: 0 16px;
  font-family: Roboto, Helvetica, sans-serif;
}

#beacon-text strong {
  display: contents;
}

.beacon-toast__powered a {
  margin: 4px 0 12px;
  font-size: 12px;
  opacity: 0.64;
}

.beacon-toast__powered svg {
  width: 20px;
  height: 20px;
  margin: 0 2px 0 4px;
}

.beacon-toast__action__item {
  font-size: 14px;
}

.beacon-toast__action__item p {
  margin-right: 8px;
}

.beacon-toast__action__item__subtitle,
.beacon-toast__powered a {
  min-width: 88px;
  color: rgba(0, 0, 0, 0.54);
}

.theme__dark .beacon-toast__powered a {
  color: #7c99d6;
}

.beacon-toast__content__img {
  width: 24px;
  height: 24px;
  margin-right: 4px;
}

.beacon-toast__more {
  width: 14px;
  transition: transform 0.5s;
}

a,
.beacon-toast__more {
  cursor: pointer;
}

a:hover {
  opacity: 0.64;
}

.theme__dark .beacon-toast__more {
  color: #7c99d6;
}

.beacon-toast__more--action {
  margin: 8px 0;
}

#beacon-text {
  padding-right: 24px;
}

.progress-line,
.progress-line:before {
  height: 3px;
  width: 100%;
  margin: 0;
}
.progress-line {
  background-color: #a7c4f7;
  display: -webkit-flex;
  display: flex;
}
.progress-line:before {
  background-color: #3880ff;
  content: '';
  -webkit-animation: running-progress 2s cubic-bezier(0.4, 0, 0.2, 1) infinite;
  animation: running-progress 2s cubic-bezier(0.4, 0, 0.2, 1) infinite;
}
@-webkit-keyframes running-progress {
  0% {
    margin-left: 0px;
    margin-right: 100%;
  }
  50% {
    margin-left: 25%;
    margin-right: 0%;
  }
  100% {
    margin-left: 100%;
    margin-right: 0;
  }
}
@keyframes running-progress {
  0% {
    margin-left: 0px;
    margin-right: 100%;
  }
  50% {
    margin-left: 25%;
    margin-right: 0%;
  }
  100% {
    margin-left: 100%;
    margin-right: 0;
  }
}
