.alert-wrapper-show {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  height: 100%;
  width: 100vw;
  overflow: hidden;
  top: 0px;
  left: 0px;
  background-color: rgba(0, 0, 0, 0.6);
  opacity: 1;
  transition: all ease 0.3s;
  z-index: 99999;
}

.alert-wrapper-hide {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  height: 100%;
  width: 100vw;
  overflow: hidden;
  top: 0px;
  left: 0px;
  background-color: rgba(0, 0, 0, 0.6);
  opacity: 0;
  transition: all ease 0.3s;
  z-index: 99999;
}

.theme__dark .alert-modal-show {
  background-color: #27334c;
}

.theme__dark .alert-modal-hide {
  background-color: #27334c;
}

.theme__dark .alert-footer {
  color: white;
  -webkit-box-shadow: 0px -4px 12px rgb(0 0 0 / 20%);
  -moz-box-shadow: 0px -4px 12px rgb(0 0 0 / 20%);
  box-shadow: 0px -4px 12px rgb(0 0 0 / 20%);
}

.theme__dark .alert-logo svg g {
  fill: white;
}

.alert-modal-show {
  background-color: white;
  border-radius: 32px;
  transition: all ease 0.3s;
  transform: translateY(0px);
  opacity: 1;
  width: 480px;
}

.alert-modal-hide {
  background-color: white;
  border-radius: 32px;
  transition: all ease 0.3s;
  transform: translateY(24px);
  opacity: 1;
  width: 480px;
}

.alert-modal-loading-wrapper {
  width: 480px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.alert-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.8em;
  padding-top: 1.2em;
  padding-bottom: 0px;
}

.alert-button-icon-empty {
  width: 24px;
  height: 24px;
  padding: 2px;
}

.alert-button-icon {
  width: 24px;
  height: 24px;
  padding: 2px;
  border-radius: 100%;
  border: 1px solid #f0f0f1;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  fill: #64748b;
  transition: all ease 0.2s;
}

.alert-button-icon:hover {
  background-color: #475569;
  border: 1px solid #475569;
  fill: #e2e8f0;
}

.alert-logo {
  margin: 0px 6em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.alert-logo svg {
  height: 28px;
}

.alert-body {
  padding: 1.8em;
  padding-bottom: 0px;
  transition: all ease 0.3s;
}

.alert-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  color: grey;
  cursor: pointer;
  -webkit-box-shadow: 0px -4px 12px rgb(50 50 50 / 6%);
  -moz-box-shadow: 0px -4px 12px rgb(50 50 50 / 6%);
  box-shadow: 0px -4px 12px rgb(50 50 50 / 6%);
  font-size: 0.938rem;
  font-weight: bold;
  height: 64px;
}

.alert-body-extra-show {
  transition: all ease 0.3s;
  overflow: hidden;
  max-height: 35vh;
  overflow-y: auto;
}

.alert-body-extra-hide {
  transition: all ease 0.3s;
  overflow: hidden;
  max-height: 0px;
}

.alert-divider {
  border-top: 1px solid #aaaaaa42;
  width: 100%;
  border-radius: 6px;
}

@media only screen and (max-width: 800px) {
  .alert-logo {
    margin: 0px 2em;
  }

  .alert-wrapper-show {
    align-items: flex-end;
    width: 100%;
  }

  .alert-wrapper-hide {
    align-items: flex-end;
    width: 100%;
  }

  .alert-modal-show {
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    padding-bottom: 1.8em;
    width: 100%;
  }

  .alert-modal-hide {
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    padding-bottom: 1.8em;
  }
}

@media only screen and (max-width: 300px) {
  .alert-wrapper-show {
    align-items: flex-end;
    width: 100vw;
  }

  .alert-wrapper-hide {
    align-items: flex-end;
    width: 100vw;
  }

  .alert-body {
    padding: 0.8em;
  }

  .alert-body {
    padding: 0.8em;
    padding-top: 0.4em;
  }

  .alert-logo {
    margin: 0px;
    transform: scale(0.8);
  }
}
