.info-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5em;
  border: 1px solid #aaaaaa42;
  border-radius: 10px;
  padding: 1.5em;
  height: 200px;
}

.info-icon {
  width: 40px;
  height: 40px;
  background-color: #3880ff;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 28px;
  margin-bottom: 0.2em;
}

.info-title {
  text-align: center;
  color: #334155;
  margin: 0px;
  font-size: 1.1em;
}

.info-description {
  text-align: center;
  font-size: 0.8em;
  font-weight: 300;
  color: #94a3b8;
  line-height: 1.25em;
  margin: 6px 0px 12px 0px;
  margin: 0px;
  max-width: 400px;
}

.info-buttons {
  display: flex;
  align-items: center;
}

.info-button {
  border-radius: 6px;
  background-color: #3880ff;
  border: 1px solid #3880ff;
  color: white;
  width: 100%;
  padding: 0.6em 1.6em;
  transition: all ease 0.2s;
  cursor: pointer;
  margin-top: 1em;
}

.info-button:hover {
  background-color: #166afc;
}

@media only screen and (max-width: 800px) {
  .info-title {
    font-size: 0.9em;
    line-height: 1em;
  }

  .info-description {
    font-size: 0.65em;
  }

  .qr-more-info {
    font-size: 0.75em;
  }

  .info-wrapper {
    height: 180px;
    padding: 1.2em;
  }

  .info-icon {
    width: 35px;
    height: 35px;
    font-size: 1.5em;
  }

  .info-button {
    padding: 0.5em 1.6em;
    font-size: 0.7em;
  }
}
