.info-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  border-radius: 10px;
  padding: 30px;
}
.info-border {
  border: 1px solid #aaaaaa42;
}
.info-icon {
  width: 40px;
  height: 40px;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 28px;
  margin-bottom: 0.2rem;
}

.info-badge {
  background-color: #3880ff;
  font-size: 38px;
  -webkit-box-shadow: 0px 0px 12px -4px rgb(0 0 0 / 30%);
  -moz-box-shadow: 0px 0px 12px -4px rgb(0 0 0 / 30%);
  box-shadow: 0px 0px 12px -4px rgb(0 0 0 / 30%);
}
.theme__dark .info-title {
  color: white;
}
.theme__dark .info-description {
  color: #aeaeae;
}
.info-title {
  text-align: center;
  color: #334155;
  margin: 0px;
  font-size: 16px;
}

.info-description {
  text-align: center;
  font-size: 12.8px;
  font-weight: 300;
  color: #7c828b;
  line-height: 1.25rem;
  margin: 6px 0px 12px 0px;
  margin: 0px;
  max-width: 300px;
}

.info-data {
  font-size: 12.8px;
  font-weight: 300;
  color: #7c828b;
  line-height: 1.25rem;
  margin: 6px 0px 12px 0px;
  margin: 0px;
  overflow: scroll;
  max-height: 300px;
}
.info-buttons {
  display: flex;
  align-items: center;
  gap: 0.6rem;
}

.info-button {
  border-radius: 6px;
  background-color: #3880ff;
  border: 1px solid #3880ff;
  color: white;
  padding: 0.6rem 1.2rem;
  width: 180px;
  transition: all ease 0.2s;
  cursor: pointer;
  margin-top: 1rem;
  font-size: 12.8px;
}

.info-button:hover {
  background-color: #166afc;
}
.info-button-secondary {
  border-radius: 6px;
  background-color: transparent;
  border: 1px solid #3880ff;
  color: #3880ff;
  padding: 0.6em 1.2rem;
  width: 180px;
  transition: all ease 0.2s;
  cursor: pointer;
  margin-top: 1rem;
}

.info-button-secondary:hover {
  background-color: #e8f0ff;
}
.downloadLink {
  text-decoration: none;
  color: gray;
  font-size: smaller;
  padding: 0.5rem;
}
button#qr-code-icon {
  background-color: transparent;
  border: none;
  min-width: 2.5rem;
  align-self: self-end;
  position: absolute;
  top: 0.3rem;
  right: 0.3rem;
  padding: 1.5px;
}

button#qr-code-icon svg {
  width: 25px;
}

@media only screen and (max-width: 300px) {
  button#qr-code-icon {
    min-width: 1.5rem;
  }
}

@media only screen and (max-width: 800px) {
  .info-title {
    font-size: 14.4px;
    line-height: 1rem;
  }

  .info-description {
    font-size: 0.65rem;
  }

  .qr-more-info {
    font-size: 0.75rem;
  }

  .info-wrapper {
    max-height: 180px;
    padding: 1.2em;
    position: relative;
  }
  .info-icon {
    width: 40px;
    height: 40px;
    font-size: 1.8rem;
  }

  .info-button {
    padding: 0.5em 1.6em;
    font-size: 16px;
    font-weight: bold;
  }
}
