#beacon-main-text {
  display: initial;
}
.beacon-selection__container {
  padding: 16px 16px 0;
}
.beacon-selection__list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-decoration: none;
  padding-bottom: 24px;
  align-items: center;
}
.beacon-selection__name {
  font-size: 1.5rem;
  font-weight: 600;
  color: #3b3d40;
}
.beacon-selection__img {
  width: 48px;
  height: 48px;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
  border-radius: 16px;
}
