#beacon-main-text {
  display: initial;
}
.beacon-selection__container {
  padding: 16px 16px 0;
}
.beacon-selection__list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-decoration: none;
  padding-bottom: 12px;
  align-items: center;
}

.beacon-list__title {
  text-align: left;
  font-size: 12px;
}

.theme__light .beacon-list__title {
  color: #7c828b;
}
.theme__dark .beacon-list__title {
  color: #7c99d6;
}

.beacon-selection__name {
  font-size: 1rem;
  font-weight: 600;
  text-align: left;
}
.theme__light .beacon-selection__name {
  color: #3b3d40;
}
.theme__dark .beacon-selection__name {
  color: #6183ff;
}
.beacon-selection__img {
  width: 48px;
  height: 48px;
  box-shadow: 0 4px 12px 0 rgba(17, 17, 17, 0.24);
  border-radius: 16px;
  background-color: #fff;
}
#beacon--qr__copy__container {
  height: 0;
}
#beacon--qr__copy {
  display: none;
  position: relative;
  top: -190px;
  left: 138px;
  margin: 0;
}
#beacon--qr__container {
  margin-left: auto;
  margin-right: auto;
}
#beacon--qr__container:hover #beacon--qr__copy {
  display: block;
}
.disabled {
  cursor: initial;
}
.disabled span,
.disabled img {
  opacity: 0.48;
}
.disabled p {
  text-align: left;
  margin: 0;
  font-size: 10px;
  font-weight: 300;
}
.disabled img {
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  filter: grayscale(100%);
  filter: gray;
}
