.form-style {
  display: flex;
  flex-direction: column;
  max-width: 500px;
  min-width: 100%;
  margin: 0 auto;
  gap: 20px;
}

.input-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.label-style {
  margin-bottom: 8px;
}

.input-style,
.textarea-style {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.input-style.invalid,
.textarea-style.invalid {
  border-color: #f76b8a;
  border-width: medium;
}

.textarea-style {
  height: 8rem;
}

.button-style {
  padding: 10px 20px;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
}

.button-style.valid {
  background-color: #007bff;
}

.button-style.invalid {
  background-color: #65afff;
}

.error-label {
  display: inline;
  font-size: 0.7rem;
  color: #f76b8a;
}

.permissions-group {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.permissions-group label {
  flex-grow: 1;
  font-size: 0.7rem;
}

.permissions-group input {
  flex-shrink: 0;
}

@media screen and (max-height: 700px) {
  .textarea-style {
    height: 6rem;
  }
}

.button-loading::after {
  content: '';
  position: absolute;
  width: 16px;
  height: 16px;
  left: 0;
  right: 0;
  margin: auto;
  border: 4px solid transparent;
  border-top-color: #ffffff;
  border-radius: 50%;
  animation: button-loading-spinner 1s ease infinite;
}

@keyframes button-loading-spinner {
  from {
    transform: rotate(0turn);
  }

  to {
    transform: rotate(1turn);
  }
}

.icon {
  display: inline-block;
  border: 2px solid white;
  border-radius: 50%;
  padding: 5px;
  margin-bottom: 3px;
  width: 1rem;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.success-icon {
  animation: successAnimation 0.6s ease forwards;
}

.error-icon {
  animation: fadeIn 0.3s ease forwards;
}

@keyframes successAnimation {
  0% {
    transform: rotate(0deg);
    opacity: 0;
  }
  100% {
    transform: rotate(360deg);
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.thank-you-message {
  display: inline-block;
  margin-left: 10px;
}

.thank-you-message span {
  opacity: 0;
  animation: fadeInLetter 0.3s ease forwards;
}

@keyframes fadeInLetter {
  to {
    opacity: 1;
  }
}
