.qr-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 0.5em;
  border: 1px solid #aaaaaa42;
  border-radius: 10px;
  padding: 1.5em;
  height: 200px;
}

.qr-left {
  display: flex;
  flex-direction: column;
  max-width: 16em;
  height: 100%;
}

.qr-left h3 {
  color: #334155;
  margin: 0px;
  margin-bottom: 0.4em;
}

.qr-left p {
  font-size: 0.85em;
  font-weight: 300;
  color: #94a3b8;
  line-height: 1.35em;
  margin: 0px;
}

.qr-more-info {
  font-size: 0.85em;
  font-weight: 300;
  color: #94a3b8;
  line-height: 1.35em;
  margin: 6px 0px 12px 0px;
  margin: 0px;
  text-decoration: underline;
  cursor: pointer;
  width: fit-content;
}

.qr-right {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  border-radius: 6px;
  transition: all ease 0.2s;
  cursor: pointer;
}

.qr-right:hover {
  background-color: rgb(238, 238, 238);
}

.qr-copy-wrapper {
  display: flex;
  align-items: center;
  gap: 0.6em;
  color: gray;
  margin-bottom: 1em;
}

.qr-copy-wrapper svg {
  font-size: 1em;
}

.qr-copy-wrapper p {
  font-size: 0.8em;
  margin: 0px;
}

.qr-svg-wrapper svg rect {
  fill: transparent !important;
}

@media only screen and (max-width: 800px) {
  .qr-wrapper {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 340px;
  }

  .qr-left {
    margin: 0.6em 0px;
  }

  .qr-left h3 {
    font-size: 1em;
    line-height: 1em;
  }

  .qr-left p {
    font-size: 0.75em;
    text-align: center;
  }

  .qr-left > div {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .qr-more-info {
    font-size: 0.75em;
  }
}
