.qr-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 0.5em;
  border: 1px solid #aaaaaa42;
  border-radius: 10px;
  padding: 30px;
  height: 200px;
}

.qr-left {
  display: flex;
  flex-direction: column;
  max-width: 16em;
  height: 100%;
}

.qr-left h3 {
  color: #334155;
  margin: 0px;
  margin-bottom: 0.4em;
  font-size: 1em;
}

.theme__dark .qr-left h3 {
  color: white;
}

.theme__dark .qr-left span {
  color: #aeaeae;
}

.theme__dark .qr-copy-wrapper p {
  color: #aeaeae;
}

.qr-left span {
  font-size: 0.8em;
  font-weight: 300;
  color: #7c828b;
  line-height: 1.35em;
  margin: 0px;
}

.qr-more-info {
  font-size: 0.95em !important;
  text-decoration: underline;
  margin-left: 6px !important;
  cursor: pointer;
}

.qr-right {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  border-radius: 6px;
  transition: all ease 0.2s;
  cursor: pointer;
}

.theme__dark .qr-right:hover {
  background-color: rgba(238, 238, 238, 0.492);
}

.qr-right:hover {
  background-color: rgb(238, 238, 238);
}

.qr-copy-wrapper {
  display: flex;
  align-items: center;
  gap: 0.6em;
  color: #7c828b;
  margin-bottom: 8px;
  margin-top: 18px;
}

.qr-copy-wrapper svg {
  font-size: 1em;
}

.qr-copy-wrapper p {
  font-size: 0.8em;
  margin: 0px;
}

.qr-svg-wrapper {
  background-color: white;
  border-radius: 10px;
}

.qr-svg-wrapper svg rect {
  fill: transparent !important;
}

@media only screen and (max-width: 800px) {
  .qr-wrapper {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 340px;
  }

  .qr-left {
    margin: 0.6em 0px;
  }

  .qr-left h3 {
    font-size: 1em;
    line-height: 1em;
  }

  .qr-left p {
    font-size: 0.75em;
    text-align: center;
  }

  .qr-left > div {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .qr-more-info {
    font-size: 0.75em;
  }
}
