name: Deploy to Netlify on pull requests

on: push

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      # Checkout repo
      - uses: actions/checkout@v2

      - name: Cache node modules
        uses: actions/cache@v1
        with:
          path: ~/.npm
          key: ${{ runner.os }}-node-${{ hashFiles('**/package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-node-
      - name: Node 14
        uses: actions/setup-node@v1
        with:
          node-version: 14.x

      - name: Prepare
        run: npm ci

      - name: Install Netlify
        run: npm install netlify-cli -g

      - name: Build site
        run: npm run build

      - name: Copy files
        run: |
          mkdir -p public/dist
          mv example-dapp.html public/
          mv example-wallet.html public/
          mv dist/walletbeacon.min.js public/dist/

      # Deploy the site with netlify-cli
      - name: Deploy Site
        env:
          NETLIFY_SITE_ID: ${{ secrets.NETLIFY_SITE_ID }}
          NETLIFY_AUTH_TOKEN: ${{ secrets.NETLIFY_AUTH_TOKEN }}
        run: netlify deploy --dir=public --alias=$GITHUB_SHA --message=$GITHUB_SHA
